@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.section__menu .btn, .section__menu__select__item__animation--anim, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.bloc-page {
  margin-left: auto;
  margin-right: auto;
}

i {
  color: #777777;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header__logo {
  width: 160px;
  padding-top: 22px;
}
.header i {
  position: absolute;
  left: 20px;
  top: 19px;
  font-size: 30px;
  cursor: pointer;
}

.section__banner {
  position: relative;
}
.section__banner img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .section__banner img {
    height: 50vw;
  }
}
@media (min-width: 1200px) {
  .section__banner img {
    height: 20vw;
  }
}
.section__banner::after {
  content: "";
  width: 100%;
  height: 40px;
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
}
.section__menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.section__menu__title {
  position: relative;
}
.section__menu__title h1 {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 0;
}
.section__menu__title--icon i {
  position: absolute;
  font-size: 30px;
  right: 6%;
  top: 15%;
  transition: 300ms linear;
  -webkit-transition: 300ms linear;
  -moz-transition: 300ms linear;
  -ms-transition: 300ms linear;
  -o-transition: 300ms linear;
  cursor: pointer;
}
.section__menu__title--icon .anim {
  z-index: -1;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  transform-origin: bottom;
}
.section__menu__title--icon:hover .heart {
  color: white;
}
.section__menu__title--icon:hover .anim {
  z-index: 1;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.section__menu__select h2 {
  font-size: 30px;
  position: relative;
  margin-left: 20px;
  font-weight: 100;
}
.section__menu__select h2::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #99e2d0;
}
.section__menu__select__item {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 7px 6px 0 #dadada;
  border-radius: 20px;
  overflow: hidden;
  animation-name: anim;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
  opacity: 0;
  animation-fill-mode: both;
}
.section__menu__select__item:hover .price {
  margin-right: 10px;
  margin-left: 10px;
}
.section__menu__select__item:hover .anim {
  z-index: 1;
  padding: 20px;
  margin-right: 0;
  margin-left: 0;
}
.section__menu__select__item:hover i {
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.section__menu__select__item h3 {
  margin-left: 10px;
  margin-bottom: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section__menu__select__item p {
  margin-left: 10px;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section__menu__select__item__animation {
  display: flex;
}
.section__menu__select__item__animation--price {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-end;
  font-weight: bold;
}
.section__menu__select__item__animation--anim {
  z-index: -1;
  background-color: #99e2d0;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition-property: padding;
  margin-right: -41px;
  margin-left: 20px;
}
.section__menu__select__item__animation i {
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  color: #fff;
  font-size: 25px;
}
.section__menu__select__item__desc {
  min-width: 180px;
}
@media (min-width: 992px) {
  .section__menu__select {
    margin: auto;
    width: 400px;
  }
}
.section__menu .btn {
  flex-basis: 100%;
}
.section__menu .btn button {
  margin: 20px 0 60px;
}
@media (min-width: 992px) {
  .section__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__menu__title {
    flex-basis: 100%;
  }
  .section__menu h2 {
    display: flex;
    justify-content: center;
  }
  .section__menu h2::after {
    left: 17%;
    width: 200px;
  }
  .section__menu button {
    margin-left: auto;
    margin-right: auto;
  }
}

button {
  border: 1px solid #fff;
  color: #fff;
  background-image: linear-gradient(to bottom, #ff93e1, #a16be0);
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 6px 6px #d5d5d5;
  opacity: 0.5;
}

.class1 {
  animation-delay: 400ms;
}

.class2 {
  animation-delay: 800ms;
}

.class3 {
  animation-delay: 1200ms;
}

.class4 {
  animation-delay: 1600ms;
}

.class5 {
  animation-delay: 2000ms;
}

.class6 {
  animation-delay: 2400ms;
}

.class7 {
  animation-delay: 2800ms;
}

.class8 {
  animation-delay: 3200ms;
}

.class9 {
  animation-delay: 3600ms;
}

.class10 {
  animation-delay: 4000ms;
}

.lettre1 {
  animation-delay: 40ms;
}

.lettre2 {
  animation-delay: 80ms;
}

.lettre3 {
  animation-delay: 120ms;
}

.lettre4 {
  animation-delay: 160ms;
}

.lettre5 {
  animation-delay: 200ms;
}

.lettre6 {
  animation-delay: 240ms;
}

.lettre7 {
  animation-delay: 280ms;
}

.lettre8 {
  animation-delay: 320ms;
}

.lettre9 {
  animation-delay: 360ms;
}

.lettre10 {
  animation-delay: 400ms;
}

@keyframes anim {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes accueil {
  0% {
    opacity: 1;
    z-index: 2;
  }
  95% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes logo {
  10% {
    color: #99e2d0;
    text-shadow: none;
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  55% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  100% {
    color: #ff79da;
    opacity: 0.4;
    text-shadow: 0 0 7px #ff79da;
  }
}
.footer {
  background-color: #353535;
  height: 270px;
}
.footer__container {
  margin-left: 15px;
}
.footer__container__img {
  width: 110px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  display: flex;
  padding-top: 35px;
  padding-bottom: 20px;
}
.footer__container__links {
  color: #fff;
  display: flex;
  margin-bottom: 15px;
}
.footer__container__links i {
  margin-right: 10px;
  color: #fff;
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=page-2.css.map */
