button {
  border: 1px solid $basic-color;
  color: $basic-color;
  background-image: linear-gradient(to bottom, #ff93e1, #a16be0);
  margin-top: 25px;
  padding: 15px 25px;
  @include border-red(30px);
  @include transition-duration(1.5s);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 6px 6px #d5d5d5;
    opacity: 0.5;
  }
}
