@mixin min-mobile {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin max-mobile {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin min-tablette {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin min-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}
@mixin transition-duration($args...) {
  transition-duration: $args;
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
}

@mixin border-red($val...) {
  border-radius: $val;
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scaleX, $scaleY) {
  @include transform(scale($scaleX, $scaleY));
}
// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
