%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%text {
  text-align: center;
}
%num-after {
  position: absolute;
  width: 30px;
  height: 22px;
  top: 50%;
  left: -15px;
  margin-top: -11px;
  @include border-red(50%);
  color: $basic-color;
  background-color: $Primarycolor;
  @extend %text;
}
