// $maincolor:
// $Secondcolor:
// $childcolor:
$basic-color: #fff;
$backgroundcolor-one: #f6f6f6;
$backgroundcolor-two: #353535;
$Primarycolor: #9356dc;
$Secondarycolor: #ff79da;
$Tertiarycolor: #99e2d0;
