.header {
  @extend %flex-center;
  &__logo {
    width: 160px;
    padding-top: 22px;
  }
  i {
    position: absolute;
    left: 20px;
    top: 19px;
    font-size: 30px;
    cursor: pointer;
  }
}
