/* start section discover*/
.loading {
  position: fixed;
  background-color: $backgroundcolor-one;
  width: 100%;
  height: 100%;
  background-color: $basic-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: "Shrikhand", cursive;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 7px;
  animation: accueil 5s linear both;
  -webkit-animation: accueil 5s linear both;
  div {
    background-image: linear-gradient($Primarycolor, $Secondarycolor);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 2px;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.section-discover {
  &__position {
    @extend %flex-center;
    background-color: darken($backgroundcolor-one, 5%);
    box-shadow: inset 0px 4px 3px 0 #d5d5d5;
    padding: 5px;
    margin-top: 20px;
    i {
      margin-right: 15px;
    }
  }
  &__reservation {
    h1,
    p {
      margin-left: 15px;
      margin-right: 15px;
    }
    @extend %flex-center;
    flex-direction: column;
    @extend %text;
    background-color: $backgroundcolor-one;
    height: 300px;
  }
  &__fonctionnement {
    h2 {
      margin-left: 20px;
    }
    &__item {
      @extend %flex-center;
      flex-direction: column;
      border: solid 1px $basic-color;
      @include border-red(15px);
      width: 400px;
      margin: 15px auto;
      padding: 15px 10px;
      background-color: $backgroundcolor-one;
      box-shadow: 0px 5px 8px 0 #d9d9d9;
      position: relative;
      &:hover {
        background-color: lighten($Primarycolor, 30%);
        border-color: lighten($Primarycolor, 30%);
        i {
          color: $Primarycolor;
        }
      }
      i {
        position: absolute;
        left: 40px;
        font-size: 20px;
      }
      &--one {
        &::after {
          content: "1";
          position: absolute;
          width: 30px;
          height: 22px;
          top: 50%;
          left: -15px;
          margin-top: -11px;
          @include border-red(50%);
          color: $basic-color;
          background-color: $Primarycolor;
          @extend %text;
        }
      }
      &--tow {
        &::after {
          content: "2";
          position: absolute;
          width: 30px;
          height: 22px;
          top: 50%;
          left: -15px;
          margin-top: -11px;
          @include border-red(50%);
          color: $basic-color;
          background-color: $Primarycolor;
          @extend %text;
        }
      }
      &--three {
        &::after {
          content: "3";
          position: absolute;
          width: 30px;
          height: 22px;
          top: 50%;
          left: -15px;
          margin-top: -11px;
          @include border-red(50%);
          color: $basic-color;
          background-color: $Primarycolor;
          @extend %text;
        }
      }
      @include max-mobile {
        width: 80%;
      }
    }
    @include min-tablette {
      h2 {
        text-align: center;
      }
    }
  }
}
/* end section discover*/
/* start section restaurants*/
.section-rests {
  background-color: $backgroundcolor-one;
  padding-bottom: 20px;
  margin-top: 80px;
  h2 {
    padding-top: 50px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  h3 {
    margin-bottom: 0;
    margin-left: 20px;
  }
  p {
    margin-top: 10px;
    margin-left: 20px;
  }
  &__cards {
    @extend %flex-center;
    flex-direction: column;
    @include min-tablette {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__card {
      width: 95%;
      height: 300px;
      margin: 20px auto 0 auto;
      border: solid 1px $basic-color;
      border-radius: 10px;
      box-shadow: 0px 5px 8px 0 #d9d9d9;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &__img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        @include border-red(10px 10px 0 0);
        @include transition(0.5s);
        &:hover {
          @include scale(1.2, 1);
        }
      }
      &__icon {
        i {
          position: absolute;
          font-size: 30px;
          right: 6%;
          bottom: 10%;
          @include transition(300ms linear);
          cursor: pointer;
        }
        .anim {
          z-index: -1;
          background-image: linear-gradient($Primarycolor, $Secondarycolor);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          @include transition(transform 300ms ease-in-out);
          transform: scaleY(0);
          -webkit-transform: scaleY(0);
          -moz-transform: scaleY(0);
          -ms-transform: scaleY(0);
          -o-transform: scaleY(0);
          transform-origin: bottom;
        }
        &:hover {
          .heart {
            color: $backgroundcolor-one;
          }
          .anim {
            z-index: 1;
            transform: scaleY(1);
            -webkit-transform: scaleY(1);
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            -o-transform: scaleY(1);
            @include transition(2s);
          }
        }
      }
      &--nov {
        &::after {
          content: "Nouveau";
          width: 60px;
          padding: 10px;
          background-color: $Tertiarycolor;
          color: darken($Tertiarycolor, 50%);
          z-index: 1;
          position: absolute;
          right: 2%;
          top: 6%;
          font-family: "Roboto", sans-serif;
        }
      }
      @include min-tablette {
        flex-basis: 40%;
      }
    }
  }
}

/* end section restaurants*/
