div {
  .banner {
    img {
      object-fit: cover;
      height: 300px;
      width: 100%;
      margin-top: 20px;
      position: relative;
      @include min-tablette {
        height: calc(100vh - 72px);
      }
    }
    // &::after {
    //   content: "";
    //   width: 100%;
    //   height: 20px;
    //   background-color: $backgroundcolor-one;
    //   position: absolute;
    // }
  }
}
.section {
  h1 {
    font-size: x-large;
    margin-left: 20px;
  }

  &__menu {
    background-color: $backgroundcolor-one;
    // position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 40%;
    &--icon {
      i {
        position: absolute;
        font-size: 30px;
        right: 6%;
        top: 25px;
        @include transition(300ms linear);
        cursor: pointer;
      }
      .anim {
        z-index: -1;
        background-image: linear-gradient($Primarycolor, $Secondarycolor);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        @include transition(transform 300ms ease-in-out);
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform-origin: bottom;
      }
      &:hover {
        .heart {
          color: white;
        }
        .anim {
          z-index: 1;
          transform: scaleY(1);
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -o-transform: scaleY(1);
          @include transition(2s);
        }
      }
    }
    &__select {
      h2 {
        font-size: 30px;
        position: relative;
        margin-left: 20px;
        font-weight: 100;
        font-size: x-large;
        &::after {
          content: "";
          width: 50px;
          height: 5px;
          position: absolute;
          left: 0;
          bottom: -10px;
          background-color: $Tertiarycolor;
        }
      }
      &__item {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 20px;
        background-color: $basic-color;
        box-shadow: 1px 7px 6px 0 #dadada;
        border-radius: 20px;
        overflow: hidden;
        animation-name: anim;
        animation-duration: 1000ms;
        animation-timing-function: ease;
        @keyframes anim {
          from {
            margin-top: -50px;
          }
          to {
            margin-top: 0;
          }
        }
        &:hover {
          .price {
            margin-right: 10px;
            margin-left: 10px;
          }
          .anim {
            z-index: 1;
            padding: 20px;
          }
          i {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            -ms-transform: rotate(-360deg);
            -o-transform: rotate(-360deg);
          }
        }
        h3 {
          margin-left: 10px;
          margin-bottom: 1px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p {
          margin-left: 10px;
          margin-top: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &__animation {
          display: flex;
          &--price {
            display: flex;
            // margin-right: -50px;
            margin-bottom: 20px;
            align-items: flex-end;
            font-weight: bold;
          }
          &--anim {
            @extend %flex-center;
            z-index: -1;
            background-color: $Tertiarycolor;
            @include transition(300ms);
            transition-property: padding;
          }
          i {
            @include transition(400ms);
            color: $basic-color;
            font-size: 25px;
          }
        }
        &__desc {
          min-width: 180px;
        }
      }
    }
  }
  button {
    display: flex;
    margin: 60px auto;
  }
}
